section.customizer > div.secure
{
    position: absolute;
    z-index: 5;
    bottom: 85px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0073ff;
    color: #ffffff;
    border-radius: 7px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.15));
    touch-action: none;
    max-width: 240px;
    padding: 1rem;
    line-height: 1.5;
}

section.customizer > div.secure > b
{
    font-size: 1.1rem;
    color: white;
    font-weight: normal;
}

section.customizer > div.secure > img.close
{
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    width: 16px;
    rotate: 45deg;
    cursor: pointer;
}

@media screen and (max-width: 500px)
{
    section.customizer > div.secure
    {
        width: 50vw;
        max-width: 50vw;
        bottom: auto;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
}
