
/*
 * IMPORTANT! USE THIS HEX FORMAT: #RRGGBB
 */

html, body
{
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none; /* prevent page reload on mobile */
    margin: 0;
    padding: 0;
}

@font-face
{
    font-family: SignikaRegular;
    src: url(../../ttf/Signika-Regular.ttf);
}

:root
{
    --customizerFontSizeDefault: 0.75rem;
    --customizerFontFamily: SignikaRegular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --customizerColorText: #000000;
    --customizerColorPrimary: #ffffff;
    --customizerColorBG1: #ffffff;
    --customizerColorBG2: #d0e7e8;
}

section.customizer ::placeholder
{
    opacity: 0.5;
    color: var(--customizerColorText);
}

section.customizer input[type="text"], section.customizer input[type="number"]
{
    border: 1px solid var(--customizerColorText);
    background-color: var(--customizerColorPrimary);
    color: var(--customizerColorText);
    border-radius: 3px;
    outline: none;
    background-color: transparent;
}

section.customizer input[type="number"]::-webkit-outer-spin-button,
section.customizer input[type="number"]::-webkit-inner-spin-button
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


section.customizer div.inputPercent
{
    position: relative;
}

section.customizer div.inputPercent::after
{
    content: attr(title);
    position: absolute;
    font-size: 0.65rem;
    line-height: 0;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}




section.customizer input[type='range'] {
    width: 100%;
    height: 2px;
    background-color: var(--customizerColorText);
    appearance: none;
    -webkit-appearance: none;
    border-radius: 2px;
}

section.customizer input[type='range']::-webkit-slider-thumb {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--customizerColorText);
    -webkit-appearance: none;
}


section.customizer button
{
    border: none;
    outline: none;
    background-color: var(--customizerColorText);
    color: var(--customizerColorPrimary);
    font-size: var(--customizerFontSizeDefault);
    padding: 0.325rem 0.75rem;
    border-radius: 4px;
    cursor: pointer;
}

section.customizer h1
{
    font-size: 1.15rem;
    font-weight: normal;
}

section.customizer hr
{
    margin: 0.25rem 0;
}

section.customizer div.color_picker
{
    border: 1px solid var(--customizerColorText);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 16px;
    min-width: 16px;
    height: 16px;
    max-height: 16px;
}

section.customizer img[src*=".svg" i]
{
    filter: var(--customizerSVGFilter);
    -webkit-filter: var(--customizerSVGFilter);
    -moz-filter: var(--customizerSVGFilter);
}









section.customizer
{
    position: relative;
    background-color: var(--customizerColorPrimary);
    background-image: radial-gradient(circle, var(--customizerColorBG1) 0%, var(--customizerColorBG2) 50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100svh;
}

section.customizer *
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--customizerFontSizeDefault);
    font-family: var(--customizerFontFamily);
    color: var(--customizerColorText);
    user-select: none;
    /* accent-color: var(--customizerColorPrimary); */
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

section.customizer *::-webkit-scrollbar {
width: 6px;
height: 6px;
}

section.customizer *::-webkit-scrollbar-track {
background: var(--customizerColorPrimary);
border-radius: 4px;
}

section.customizer *::-webkit-scrollbar-thumb {
background: var(--customizerColorText);
border-radius: 4px;

}

@supports not selector(::-webkit-scrollbar) {
section.customizer * {
    scrollbar-color: var(--customizerColorText)
                    var(--customizerColorPrimary);
}
}




@media screen and (max-width: 500px)
{
    :root
    {
        --customizerFontSizeDefault: 0.75rem;
    }
}
