section.customizer > div.contextMenu
{
    position: absolute;
    z-index: 9;
    backdrop-filter: blur(20px) brightness(75%);
    -webkit-backdrop-filter: blur(20px) brightness(75%);
    border-radius: 7px;
    max-height: 90vh;
    max-width: 90vw;
    overflow: auto;
    padding: 0.75rem;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
}

section.customizer > div.contextMenu.show
{
    display: flex;
}

section.customizer > div.contextMenu.hide
{
    display: none;
}

section.customizer > div.contextMenu ul
{
    list-style: none;
}

section.customizer > div.contextMenu li
{
    padding-top: 0.1rem;
}

section.customizer > div.contextMenu p
{
    line-height: 1.5;
}
