section.customizer > div.layers
{
    position: absolute;
    z-index: 6;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 50vw;
    max-width: 500px;
    min-height: 300px;
    max-height: 70svh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
    backdrop-filter: blur(20px) brightness(75%);
    -webkit-backdrop-filter: blur(20px) brightness(75%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


@media screen and (max-width: 500px)
{
    section.customizer > div.layers
    {
        width: 100vw;
        padding: 1rem;
        border-radius: 0;
    }

    section.customizer > div.layers > div.bottomNav
    {
        padding-bottom: 0;
    }

}




section.customizer div.blend-modes
{
    width: fit-content;
}

section.customizer div.blend-modes > p
{
    color: var(--customizerColorText);
    padding: 0.25rem;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
}

section.customizer div.blend-modes > p:hover,
section.customizer div.blend-modes > p.active {
    color: var(--customizerColorPrimary);
    background-color: var(--customizerColorText);
}








section.customizer > div.layers > div.title
{
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    padding: 0.75rem;
    padding-left: 0.75rem;
    gap: 0.75rem;
}

section.customizer > div.layers > div.title > img.rollup
{
    width: 16px;
    transition: rotate 0.25s cubic-bezier(0.45, 0, 0.55, 1);
    cursor: pointer;
    margin-right: 0.5rem;
}

section.customizer > div.layers > div.title > div.title
{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

section.customizer > div.layers > div.title > div.title > img.icon
{
    width: 28px;
}

section.customizer > div.layers > div.content
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 50dvh;
    overflow: auto;
    padding: 0.3rem 1rem 0 1rem;
}

section.customizer > div.layers > div.content > div.layer
{
    display: flex;
    flex-direction: column;
    padding: 0.15rem;
    width: 100%;
}

section.customizer > div.layers > div.content > div.layer:first-child
{
    padding-top: 0.25rem;
}

section.customizer > div.layers > div.content > div.layer:last-child
{
    padding-bottom: 1rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

section.customizer > div.layers > div.content > div.layer > div.title
{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

section.customizer > div.layers > div.content > div.layer > div.title > p.name
{
    flex-basis: 100%;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80%;
    font-size: 0.85rem;
    padding-left: 1rem;
}

section.customizer > div.layers > div.content > div.layer > div.title > div.back
{
    gap: 0.5rem;
    display: none;
}

section.customizer > div.layers > div.content > div.layer > div.title > div.back > img.back
{
    width: 24px;
    margin-right: 0.1rem;
    rotate: 90deg;
}

section.customizer > div.layers > div.content > div.layer > div.title.active > p.name
{
    font-size: 1.25rem;
    text-align: right;
}

section.customizer > div.layers > div.content > div.layer > div.content
{
    max-height: 0;
    overflow: auto;
    transition: max-height 0.25s cubic-bezier(0.45, 0, 0.55, 1);
    padding: 0.5rem;
    padding-left: 0;
    padding-left: 16px;
    display: none;
}


section.customizer > div.layers > div.content > div.layer > div.content > div.layer_desc
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}





section.customizer > div.layers > div.content > div.layer > div.content > div.layers
{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

section.customizer > div.layers > div.content > div.layer > div.content > div.layers > div:last-child
{
    padding-bottom: 0.75rem;
}


section.customizer > div.layers > div.content > div.layer > div.content > div.layers > div
{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    padding: 0.5rem;
}

section.customizer > div.layers > div.content > div.layer > div.content > div.layers > div:nth-child(even)
{
    background-color: rgba(0, 0, 0, 0.05);
}

section.customizer > div.layers > div.content > div.layer > div.content > div.layers > div > p.title
{
    padding: 0.1rem 0.2rem;
    flex-basis: 100%;
    text-overflow: ellipsis; /* https://stackoverflow.com/a/74098736 */
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    width: 50px;
    max-width: 50px;
    cursor: pointer;
}

section.customizer > div.layers > div.content > div.layer > div.content > div.layers > div > canvas.thumbnail
{
    background: repeating-conic-gradient(#FFFFFF 0 25%, #EBEBEB 0 50%) 50% /  3px 3px; /* https://stackoverflow.com/a/65129916 */
    border-radius: 4px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}



section.customizer > div.layers > div.content > div.layer > div.content > div.buttons
{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
}

section.customizer > div.layers > div.content > div.layer > div.content > div.buttons:has(> img,span)
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

section.customizer > div.layers > div.content > div.layer > div.content > div.buttons > div.button
{
    cursor: pointer;
    text-align: center;
}

section.customizer > div.layers > div.content > div.layer > div.content > div.buttons > div.button::after
{
    white-space: nowrap;
    content: attr(title);
    line-height: 1.2;
    padding-top: 0.5rem;
    display: block;
}


section.customizer > div.layers > div.content > div.layer > div.content > div.buttons > div.button > img,
section.customizer > div.layers > div.content > div.layer > div.content > div.layers > div > img
{
    width: 22px;
    position: relative;
    cursor: pointer;
}

section.customizer > div.layers > div.content > div.layer > div.content > div.buttons > div.button > img
{
    width: auto;
    height: 30px;
}

section.customizer > div.layers > div.content > div.layer > div.content > div.layers > div > div.spacer
{
    width: 100%;
    height: 50px;
}

section.customizer > div.layers > div.content > div.layer > div.content > div.layers > div > img.visibility
{
    width: 16px;
}


section.customizer > div.layers > div.content > div.layer > div.content > div.buttons > img::after,
section.customizer > div.layers > div.content > div.layer > div.content > div.layers > div > img::after
{
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

/* available model color(s) spans */
section.customizer > div.layers > div.content > div.layer > div.content > div.buttons > span
{
    display: block;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid var(--customizerColorText);
    padding: 0.05rem;
    border-radius: 4px;
}

section.customizer > div.layers > div.content > div.layer > div.content > div.buttons > img.active,
section.customizer > div.layers > div.content > div.layer > div.content > div.buttons > span.active
{
    outline: 4px solid var(--customizerColorText);
}


/* available model texture(s) imgs */
section.customizer > div.layers > div.content > div.layer > div.content > div.buttons > img.texture
{
    width: 75px;
    height: auto;
    border-radius: 4px;
    padding: 0.05rem;
    cursor: pointer;
}



/* SOLID */

/*
section.customizer > div.layers > div.content > div.layer > div.content > div.layers > div.solid > div.color_picker,
section.customizer > div.layers > div.content > div.layer > div.content > div.layers > div.solid > div.color_picker > div.cp_button
{
    width: 100%;
}
*/





/* BOTTOM NAV */


section.customizer > div.layers > div.bottomNav
{
    display: flex;
    padding: 1rem 2rem;
    padding-top: 0;
    align-items: center;
    justify-content: space-between;
    min-height: calc(64px + 2rem);
}


section.customizer > div.layers > div.bottomNav a
{
    text-decoration: none;
    font-size: calc(var(--customizerFontSizeDefault) + 0.15rem);
}

section.customizer > div.layers > div.bottomNav > div.file
{
    position: relative;
}

section.customizer > div.layers > div.bottomNav > div.file:has(:hover) div.menu
{
    display: flex;
}

section.customizer > div.layers > div.bottomNav > div.file > div.menu
{
    flex-direction: column;
    gap: 1rem;
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding: 1.5rem;
    background-color: var(--customizerColorText);
    white-space: nowrap;
    border-radius: 6px;
}

section.customizer > div.layers > div.bottomNav > div.file > div.menu *
{
    color: var(--customizerColorPrimary);
    cursor: pointer;
}

section.customizer > div.layers > div.bottomNav > div.file > div.menu > div.open > input
{
    display: none;
}

section.customizer > div.layers > div.bottomNav > div.file > div.menu > div.open > label
{
    display: block;
    width: 100%;
    font-size: calc(var(--customizerFontSizeDefault) + 0.15rem);
}



section.customizer > div.layers > div.bottomNav > div.add_layer
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: none;
}

section.customizer > div.layers > div.bottomNav > div.add_layer > img
{
    width: 64px;
    cursor: pointer;
    transition: rotate 0.25s cubic-bezier(0.45, 0, 0.55, 1);
}







section.customizer > div.webXR
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    position: absolute;
    z-index: 5;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--customizerColorPrimary);
    border-radius: 7px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.15));
    /* visibility: hidden; */
}

section.customizer > div.webXR > img.button
{
    height: 30px;
}


@media screen and (max-width: 500px)
{

}
